<ion-header>
  <ion-toolbar>
    <ion-title>detailbuku</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Book Info</ion-card-subtitle>
      
    </ion-card-header>
    <ion-card-content>
      <ion-col col-4>
        <img src="https://scoopadm.apps-foundry.com/ebook-covers/33229/big_covers/ID_EMK2016MTH06OBPUP_B.jpg" alt="">
      </ion-col>
      <ion-col col-8>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      </ion-col>
    </ion-card-content>
    <ion-card >
      <ion-card-content>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda laudantium laborum provident ducimus delectus aut eos quidem nihil voluptas nostrum, ipsa dignissimos quasi quam est fugiat officiis quis nulla natus!
      </ion-card-content>
    </ion-card>
  </ion-card>
</ion-content>
