<ion-header>
  <ion-toolbar>
    <ion-title>Detail Buku</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Book Info</ion-card-subtitle>
      
    </ion-card-header>
    <ion-card-content>
      <ion-row>
          <ion-col col-2>
              <img src="https://scoopadm.apps-foundry.com/ebook-covers/33229/big_covers/ID_EMK2016MTH06OBPUP_B.jpg" alt="">
            </ion-col>
            <ion-col col-10>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            </ion-col>
      </ion-row>
    </ion-card-content>

    
  </ion-card>

  <ion-card >
      <ion-card-content>
        <ion-row>
          <ion-col col-4>Title</ion-col>
          <ion-col col-8>Tes</ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-4>Title</ion-col>
            <ion-col col-8>Tes</ion-col>
          </ion-row>
          <ion-row>
              <ion-col col-4>Title</ion-col>
              <ion-col col-8>Tes</ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-4>Title</ion-col>
                <ion-col col-8>Tes</ion-col>
              </ion-row>
      </ion-card-content>
    </ion-card>

</ion-content>
