<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      M-Library
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-searchbar placeholder="Cari buku" animated showCancelButton cancelButtonText=""></ion-searchbar>
      <ion-grid>
        <ion-row>
          <ion-slides>
            <ion-slide>
              <ion-col col-6>
                  <img src="https://scoopadm.apps-foundry.com/ebook-covers/33229/big_covers/ID_EMK2016MTH06OBPUP_B.jpg">
              </ion-col>
              <ion-col col-6>
                  <img src="https://s0.bukalapak.com/img/5873974702/w-1000/Buku_Pemrograman_Java_Tingkat_Lanjut_CD.jpg">
              </ion-col>
            </ion-slide>
            <ion-slide>
                <ion-col col-6>
                    <img src="https://scoopadm.apps-foundry.com/ebook-covers/33229/big_covers/ID_EMK2016MTH06OBPUP_B.jpg">
                </ion-col>
                <ion-col col-6>
                    <img src="https://s0.bukalapak.com/img/5873974702/w-1000/Buku_Pemrograman_Java_Tingkat_Lanjut_CD.jpg">
                </ion-col>
            </ion-slide>
          </ion-slides>
        </ion-row>
      </ion-grid>
      <ion-row>
        <ion-card>
          
          <ion-card-content>
            <ion-row>
              <ion-col col-4>
                <img src="https://s0.bukalapak.com/img/5873974702/w-1000/Buku_Pemrograman_Java_Tingkat_Lanjut_CD.jpg">
              </ion-col>
              <ion-col col-8>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-row>
</ion-content>
